@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #0b2434;
    margin: 0;
    max-width: 600px;
}

div#root {
    height: 100%;
}

main {
    margin: 40px 30px;
    padding: 50px;
    background-color: #eceaea;
    border-radius: 10px;
    height: 70%;
    text-align: center;
}

.dice-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 30px;
    margin-top: 40px;
}

.dice-container>.die {
    width: 65px;
    height: 65px;
    background-color: white;
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0, 0.2);
    font-family: "Karla", serif;
    border: none;
}

.die.held {
    background-color: #59e391;
}

button.roll {
    background-color: #5035ff;
    width: 150px;
    height: 46px;
    margin: 40px 20px;
    border-radius: 5px;
    border: none;
    color: #f5f4ff;
    font-size: 1.2rem;
    font-family: "Karla", serif;
}